* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

ol, ul {
	list-style: none;
}

del {
	text-decoration: line-through;
}

body {
	font-family: '../fonts/poppinsregular';
	background-image:url(../images/Header\ Ellipse.svg);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 59%;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}

input, textarea, select {
	font-family: '../fonts/poppinsregular';
	font-weight: 500;
}

a {
	color: #000;
}

.thumb {
	display: block;
}

.thumb img {
	display: block;
	width: 100%;
}

p {
	line-height: 1.6em;
	font-size: 16px;
	font-family: '../fonts/poppinsregular';
	font-weight: 500;
	color: #000;
}

.hidden {
	display: none;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1350px;
}

::placeholder {
	color: #9b9b9b;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #9b9b9b;
}

::-ms-input-placeholder {
	color: #9b9b9b;
}
@-webkit-keyframes glowing {
	0% {
	  background-color: #c51b30;
	  -webkit-box-shadow: 0 0 5px #c51b30;
	}
	50% {
	  background-color: #b42839;
	  -webkit-box-shadow: 0 0 15px #b42839;
	}
	100% {
	  background-color: #c51b30;
	  -webkit-box-shadow: 0 0 5px #c51b30;
	}
}
header {
	height: 200px;
	display: flex;
	align-items: center;
  }
  
  header .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .logo img {
	max-width: 170px;
	cursor: none;
  }
  
  .menu {
	display: flex;
	align-items: center;
	list-style: none;
  }
  
  .menu li {
	margin-right: 70px;
  }
  
  .menu li a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	color: #000;
  }
  
  .menu li:last-child {
	margin-right: 0;
  }
  
  .menu li a.button {
	padding: 10px 26px;
	background-color: #c51b30;
	transition: all 0.4s ease;
	border-radius: 22px;
	font-weight: 500;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	-webkit-animation: glowing 1000ms infinite;
	-moz-animation: glowing 1000ms infinite;
	-o-animation: glowing 1000ms infinite;
	animation: glowing 1000ms infinite;
  }
  
  .menu li a:hover,
  .menu li a.active {
	color: #c51b30;
  }
  
  .menu li a.button:hover {
	background-color: #860917;
	color: #fff;
  }
  
  .nav-menu {
	display: none;
  }
  
  .hamburger {
	display: none;
  }
  
  .hamburger .bar {
	width: 30px;
	height: 3px;
	background-color: #c51b30;
	display: block;
	margin-bottom: 5px;
  }
#spotlight .main-text h1 {
	font-size: 48px;
	line-height: 1.5em;
	font-weight: 600;
  }
  
  #spotlight .main-text span {
	color: #c51b30;
	font-weight: 600;
  }
  
  #spotlight .main-text p {
	margin-top: 26px;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 1.5em;
	color: #474747;
	width: 90%;
  }
  
  #spotlight .main-image {
	background-image: url(../images/Header\ image.svg);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: cover;
	transform: scale(1.1);
  }
  
  #spotlight .main-image img {
	width: 750px;
	max-width: 100%;
	visibility: hidden;
  }

#spotlight .menu-container .menu .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px;
}

#spotlight .menu-container .menu .top a {
	width: 80px;
}

#spotlight .menu-container .menu .top a.close {
	width: 25px;
}

#spotlight .menu-container .menu ul {
	text-align: center;
}

#spotlight .menu-container .menu ul li {
	border-bottom: 2px dashed #ffebdd;
	width: 45%;
	margin: 0 auto;
	padding: 30px 0;
}

#spotlight .menu-container .menu ul li a {
	display: inline-block;
}

#spotlight .menu-container .menu ul li a:hover, #spotlight .menu ul li a.active {
	color: #ff3826;
}

#spotlight header {
	padding: 25px 0;
	top: 0;
	width: 100%;
	z-index: 100;
}
#spotlight .wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
}

#spotlight header .head-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1350px;
	width: 90%;
	margin: 0 auto;
}

#spotlight header h1.logo {
	width: 230px;
}

#spotlight header h1.logo a {
	width: 100%;
	display: inline-block;
}

#spotlight header h1.logo a img {
	width: 100%;
	display: inline-block;
}

#spotlight header ul.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#spotlight header ul.nav li {
	margin-right: 50px;
	font-size: 22px;
}

#spotlight header ul.nav li:last-child {
	margin-right: 0;
}

#spotlight header ul.nav li a:hover, #spotlight header ul.nav li a.active {
	color: #ff3826;
}

#spotlight div.container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 200px;
}

#spotlight div.container div.left {
	width: 50%;
}

#spotlight div.container div.left div.top {}

#spotlight div.container div.left div.top div.heading {
	font-size: 40px;
	line-height: 2em;
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
}

#spotlight div.container div.left div.top div.heading h2.first {
	width: 100%;
	font-weight: bold;
}

#spotlight div.container div.left div.top div.heading h2.second {
	/* width: 50%; */
	font-weight: bold;
}

#spotlight div.container div.left div.top div.heading h2.third {
	color: #ff6726;
	/* width: 50%; */
	font-weight: bold;
}

#spotlight div.container div.left div.top p.content {
	margin: 30px 0;
	font-size: 20px;
	color: #8e8e8e;
	line-height: 1.8em;
}

#spotlight div.container div.right {
	width: 42%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#spotlight div.container div.right div.spotlight-image {
	width: 100%;
}

#spotlight div.container div.right div.spotlight-image img {
	width: 100%;
	height: 100%;
	display: inline-block;
}

#spotlight span.dot-grid {
	width: 200px;
	display: block;
}

#spotlight span.dot-grid img {
	width: 100%;
	height: 100%;
	display: inline-block;
}

#about {
	background-image: url(../images/vector-1-Who\ we\ are.svg);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: contain;
	padding: 0px 0 50px 0;
  }
  
  #about .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  #about .image img {
	max-width: 100%;
  }
  
  #about .content h1 {
	font-size: 36px;
	font-weight: bolder;
	text-align: left;
	margin-bottom: 22px;
  }
  
  #about .content p {
	font-size: 20px;
	color: #474747;
	width: 85%;
	line-height: 1.5em;
	text-align: justify;
  }
  #app {
	background-image: url(../images/Vector\ 2-\ Download\ app.svg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: contain;
	padding-top: 100px;
  }
  
  #app .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  #app .image {
	max-width: 120%;
	margin-left: 100px;
  }
  #app .image img {
	display: block;
	max-width: 100%;
  }
  
  #app .content h1 {
	font-size: 36px;
	margin-bottom: 22px;
	font-weight: 600;
  }
  
  #app .content p {
	font-size: 20px;
	color: #474747;
	line-height: 1.5em;
	width: 90%;
	text-align: left;
  }
  
  #app .button {
	display: flex;
	margin-top: 15px;
	list-style: none;
  }
  
  #app .button li {
	background-color: #0000;
	align-items: center;
	margin-right: 20px;
	cursor: pointer;
  }
  #app .button li:hover {
	transform: scale(1.1);
	transition: all 0.2s ease-in;
  }
  
  #app .button li:last-child {
	margin-right: 0;
  }
  
  #app .button li img {
	max-width: 180px;
  }

  footer .bg-img {
	background-image: url(../images/Planes-Footer.svg);
	background-repeat: no-repeat;
	background-position: right 0 top -15%;
	background-size: contain;
	text-align: center;
	position: absolute;
	right: 0;
	left: 0;
  }
  
  footer .item {
	display: flex;
	justify-content: space-between;
	text-align: center;
	list-style: none;
	padding: 0 90px 45px 90px;
	border-bottom: 1px solid #000;
  }
  footer .item li a span {
	  background: #C51B30;
	  color: #fff;
	  padding: 10px;
	  font-size: 22px;
	  border-radius: 50%;
  }
  footer .item li a {
	text-decoration: none;
  }
  
  footer .item li p {
	text-decoration: none;
	color: #474747;
	font-size: 18px;
	line-height: 1.5em;
	margin: 0 auto;
	width: max-content;
  }
  footer .item li .address {
	width: 55%;
	margin: 0 auto;
  }
  footer .item li .icon {
	width: 35px;
	transform: scale(1.2);
	border-radius: 50%;
	margin-bottom: 20px;
  }
  
  footer .social {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 45px 0 40px;
  }
  
  footer .social li {
	margin-right: 15px;
  }
  footer .social li:first-child a i{
	  padding: 12px 17px;
  }
  footer .social li:last-child {
	margin-right: 0;
  }
  
  footer .social li a {
	text-decoration: none;
  }
  footer .social li a i {
	padding: 12px 14px;
	border: 1px solid #c51b30;
	border-radius: 50%;
  }
  footer .social li a i:hover {
	color: #ff6868;
	border: 1px solid #ff6868;
  }
  footer .social li a i{
	color: #c51b30;
	font-size: 30px;
	font-weight: 500;
	display: block;
  }
  
  footer .copy {
	padding-bottom: 50px;
	font-size: 18px;
	color: #404040;
	line-height: 1.7em;
  }
  
  footer .copy a {
	text-decoration: none;
	color: #c51b30;
	font-size: 18px;
  }
  footer .copy a:hover {
	color: #ff6868;
  }
  
  /* participate.html */

#participate { 
	background-image: url(../images/participate/participate.png);
	background-repeat: no-repeat;
	background-size: contain;
    background-position: bottom center;
    background-color: rgb(255 255 255 / 79%);
    height: 100vh;
    background-blend-mode: darken;
}
#participate .bg{

}
#participate .main { 
    padding: 30px 0 110px;
}
#participate .container { 
	text-align: center;
	width: 65%;
    margin: 0 auto;
}
#participate .container h4 { 
    font-weight: 700;
    font-size: 16px;
    color: #c51b30;
    letter-spacing: 5px;
    line-height: 2em;
}
#participate .container h2 { 
	font-weight: 700;
	font-size: 40px;
	color: rgba(0,0,0,0.8)!important;
	line-height: 1.4em;
	margin: 20px 0;
}
#participate .container p { 
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5em;
    color: #474747;
    margin-bottom: 40px;
}
#participate .container .button { 
    padding: 10px 26px;
    background-color: #c51b30;
    transition: all 0.4s ease;
    border-radius: 22px;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    -webkit-animation: glowing 1000ms infinite;
    -moz-animation: glowing 1000ms infinite;
    -o-animation: glowing 1000ms infinite;
    animation: glowing 1000ms infinite;
}
footer.pt-100{
	padding-top: 100px;
}
#form { 
	box-shadow: 0 15px 20px 0 rgb(0 0 0 / 6%);
	width: 40%;
	margin: 0 auto;
	border-radius: 9px;
	z-index: 55;
    right: 0;
    left: 0;
    top: 14%;
    border: 0;
    position: fixed;
	background-color: #fff;
}
.modal-wrapper{
	height: 100vh;
    backdrop-filter: blur(5px);
    background-color: #01223770;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
	display: none;
}
#form .head { 
	text-align: center;
	padding: 20px 10px;
	border-bottom: 1px solid #c51b3052;
	position: relative;
}
#form .head span{
	position: absolute;
    right: 10px;
    top: 4px;
    font-size: 27px;
	cursor: pointer;
}
#form .head h4 { 
    font-weight: 700;
    font-size: 25px;
    color: #c51b30;
}
#form form { 
	padding: 30px 20px;
}
#form form .input{
	display: flex;
	align-items: center;
    border: 1px solid #2f348a;
    border-radius: 5px;
}
#form form .input:nth-child(n+2) { 
	margin-top: 15px;
}
#form form .input img { 
	padding: 12px 10px;
}
#form form .input input { 
	width: 100%;
    padding: 10px;
}
#form form .submit { 
    text-align: center;
    margin-top: 20px;
}
#form form .submit button { 
    padding: 10px 26px;
    background-color: #c51b30;
    transition: all 0.4s ease;
    border-radius: 8px;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
	width: 100%;
}
#form form .select-option{
	position: relative;
}
#form form .select-option select{
	display: none;
}
/* select-option-customize */

#form form p a {
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	padding: 5px 10px;
	margin: 0 5px;
	background-color: #b83729;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
  }
  #form form p a:hover {
	background-color: #ab3326;
  }
  
  #form form .select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
  }
  
 #form form .select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 14px;
	color: #999;
	width: 100%;
	height: 40px;
  }
  
 #form form .select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 8px 11px;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
  }
 #form form .select-styled:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #c52e31 transparent transparent transparent;
	position: absolute;
	top: 16px;
	right: 10px;
  }
 #form form .select-styled:hover {
	/* background-color: #ebe4e3; */
  }
 #form form .select-styled:active, .select-styled.active {
	/* background-color: #ab3326; */
  }
  #form form .select-styled:active:after, .select-styled.active:after {
	top: 9px;
	border-color: transparent transparent #fff transparent;
  }
  
 #form form .select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
  }
 #form form .select-options li {
	margin: 0;
	padding: 12px 0;
	text-indent: 15px;
	border-top: 1px solid #fff;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
	border: 1px solid #2f348a2e;
  }
 #form form .select-options li:hover {
	color: #c0392b;
	background: #fff;
  }
  #form form .select-options li[rel="hide"] {
	display: none;
  }

  /* input-type-file-customize */

  #form form .fileUpload {
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	overflow: hidden;
	position: relative;
	text-align: center;
   cursor: pointer;
}
#form form .fileUpload:hover, #form form .fileUpload:active, #form form .fileUpload:focus {
	
  cursor: pointer;
}
#form form .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    height: 46px;
  cursor: pointer;
}
#form form .fileUpload label{
	color: #999;
    font-size: 14px;
	margin-right: 5px;
	padding: 10px;
}
#form form input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}

  #form form  #file-upload-filename{
	  font-size: 14px;
	  color: #999;
  }
#form form .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
  @media all and (min-width: 768px) {
	#participate .container {
		width: 90%;
	}
	#spotlight .main-image,
	#spotlight .main-text {
	  flex: 0 0 50%;
	  max-width: 50%;
	  margin-bottom: 50px;
	}
	#about .image {
	  flex: 0 0 45%;
	  max-width: 45%;
	}
	#about .content {
	  flex: 0 0 55%;
	  max-width: 55%;
	}
	#app .content {
	  flex: 0 0 50%;
	  max-width: 50%;
	  margin-left: 0;
	}
	#app .image {
	  margin-left: 0;
	  max-width: 40%;
	  margin: 0 auto;
	}
	#app .image img {
	  max-width: 100%;
	}
	footer .bg-img {
	  background-position: right 0 top -19%;
	}
  }
  
  @media all and (max-width: 1279px) {
	#spotlight .main-text h1 {
	  font-size: 44px;
	}
	footer .item li p {
	  font-size: 14px;
	}
	#app .button li img {
	  max-width: 145px;
	}
	#app .image img {
	  max-width: 90%;
	}
	footer .bg-img {
	  background-position: right 0 top 38%;
	}
  }
  
  @media all and (max-width: 979px) {
	footer.pt-100 {
		padding-top: 60px;
	}
	.menu li a {
	  font-size: 20px;
	}
	.menu {
	  display: none;
	}
	.nav-menu {
	  display: block;
	  width: 100%;
	  height: 300px;
	  position: fixed;
	  bottom: 0;
	  top: -100%;
	  right: 0;
	  background-color: #f4c2d8;
	  z-index: 4;
	  list-style: none;
	  text-align: left;
	  padding: 100px 0 0 0;
	  text-align: center;
	  transition: all 0.6s ease-in;
	}
	.active .nav-menu {
	  top: 0;
	}
	.nav-menu li {
	  margin-bottom: 30px;
	}
	.nav-menu li:last-child {
	  margin-top: 40px;
	}
	.nav-menu li a {
	  color: #000;
	  text-decoration: none;
	  font-size: 18px;
	}
	.menu li a.button {
	  padding: 16px 30px;
	  font-size: 16px;
	}
	.nav-menu li .button {
	  padding: 12px 16px;
	  background-color: #c51b30;
	  border-radius: 35px;
	  color: #fff;
	}
	.hamburger {
	  display: block;
	  z-index: 99;
	  transition: all 0.6s ease-in;
	}
	.hamburger .bar {
	  transition: all 0.6s ease-in;
	}
	.active .hamburger .bar {
	  background-color: #c51b30;
	}
	.active .hamburger .bar:nth-child(1) {
	  transform: translateY(8px) rotate(45deg);
	}
	.active .hamburger .bar:nth-child(2) {
	  transform: translate(10px);
	  opacity: 0;
	}
	.active .hamburger .bar:nth-child(3) {
	  transform: translateY(-8px) rotate(-45deg);
	}
	#spotlight .wrapper {
	  flex-direction: column-reverse;
	  justify-content: space-evenly;
	}
	#spotlight .main-text {
	  margin-bottom: 0;
	  padding-top: 20px;
	  text-align: center;
	  max-width: 90%;
	  margin: 0 auto;
	}
	#spotlight .main-text h1 {
	  font-size: 42px;
	  margin: 20px 0;
	}
	#spotlight .main-text p {
	  font-size: 20px;
	  width: 90%;
	  margin: 0 auto;
	}
	#spotlight .main-image {
	  max-width: 70%;
	  background-position: center;
	  background-size: contain;
	  transform: scale(1.2);
	  margin: 0;
	}
	#spotlight .main-image img {
	  width: 90%;
	  left: 10%;
	}
	#about .wrapper {
	  flex-direction: column;
	}
	#about .content {
	  max-width: 90%;
	  text-align: center;
	}
	#about .content h1 {
	  font-size: 30px;
	  text-align: center;
	}
	#about .content p {
	  font-size: 20px;
	  text-align: center;
	  margin: 0 auto;
	}
	#app .wrapper {
	  flex-direction: column-reverse;
	}
	#app .content {
	  max-width: 100%;
	  text-align: center;
	  padding-top: 20px;
	}
	#app .content h1 {
	  font-size: 30px;
	}
	#app .content p {
	  font-size: 20px;
	  width: 90%;
	  margin: 0 auto;
	  text-align: center;
	}
	#app .button {
	  justify-content: center;
	}
	#app .image img {
	  width: 520px;
	}
	#app .button li img {
	  max-width: 145px;
	}
	footer .bg-img {
	  background-position: right 0 top 25%;
	}
	footer .item li p {
	  font-size: 13px;
	}
	footer .item{
		padding: 50px 90px 45px 90px;
	}
  }
  
  @media all and (max-width: 767px) {
	footer.pt-100 {
		padding-top: 40px;
	}
	header {
		height: 157px;
	}
	body {
	  background-position: top right;
	  background-size: contain;
	}
	.logo img {
	  max-width: 120px;
	}
	#spotlight .main-text {
	  max-width: 100%;
	  margin-top: 30px;
	  text-align: center;
	  padding: 0;
	}
	#spotlight .main-text h1 {
	  font-size: 36px;
	  line-height: 1.2em;
	}
	#spotlight .main-text p {
	  font-size: 18px;
	  margin: 0 auto;
	  margin-top: 20px;
	}
	#spotlight .main-image img {
	  width: 90%;
	  left: 10%;
	}
	#about {
	  background-position: center right;
	  padding: 80px 0 0% 0;
	}
	#about .image {
	  max-width: 60%;
	}
	#about .image img {
	  max-width: 400px;
	}
	#about .content {
	  max-width: 100%;
	  text-align: center;
	}
	#about .content h1 {
	  font-size: 28px;
	  margin-bottom: 20px;
	}
	#about .content p {
	  font-size: 18px;
	  text-align: center;
	}
	#app .content h1 {
	  font-size: 28px;
	}
	#app .content p {
	  font-size: 18px;
	  margin: 0 auto;
	  text-align: center;
	}
	#app .image {
	  margin: 0 auto;
	}
	#app .image img {
	  max-width: 60%;
	  margin: 0 auto;
	  margin-bottom: 30px;
	}
	#app .button {
	  justify-content: center;
	}
	#app .button li img {
	  max-width: 110px;
	}
	footer .item {
	  padding: 60px 30px 60px 30px;
	}
	footer .item li a {
	  font-size: 14px;
	}
	footer .item li p {
	  font-size: 14px;
	}
	footer .copy {
	  font-size: 14px;
	}
	footer .copy a {
	  font-size: 14px;
	}
  }
  
  @media all and (max-width: 640px) {
	#form {
		width: 60%;
	}
	footer.pt-100 {
		padding-top: 0;
	}
	#participate .main {
		padding: 100px 0 110px;
	}
	#participate .container h2 {
		font-size: 33px;
		line-height: 1.2em;
	}
	#participate .container p {
		font-size: 17px;
	}
	#participate .container {
		width: 100%;
	}
	header {
	  height: 130px;
	}
	.logo img {
	  width: 70%;
	}
	body {
	  background-position: top right;
	}
	.nav-menu li {
	  margin-bottom: 40px;
	}
	.nav-menu li:last-child {
	  margin-top: 50px;
	}
	#spotlight .wrapper {
	  justify-content: center;
	}
	#spotlight .main-image {
	  display: flex;
	  margin-bottom: 26px;
	}
	#spotlight .main-image img {
	  width: 100%;
	}
	#about {
	  background-size: contain;
	  background-position: center right;
	  padding: 80px 0 0% 0;
	}
	#about .image {
	  max-width: 100%;
	}
	#about .image img {
	  max-width: 400px;
	}
	#app {
	  background-position: center left;
	  background-size: 70%;
	}
	#app .content {
	  padding-bottom: 20px;
	}
	footer .item {
	  flex-direction: column;
	  padding: 70px 0px 70px 0px;
	}
	footer .item li {
	  margin-bottom: 30px;
	}
	footer .item li .address {
	  width: 100%;
	}
	footer .social {
	  padding: 40px 0 25px 0;
	}
	footer .item li:last-child {
	  margin-bottom: 0;
	}
	footer .copy {
	  padding-bottom: 20px;
	}
  }
  
  @media all and (max-width: 480px) {
	#form {
		width: 90%;
		top: 6%;
	}
	#participate .main {
		padding: 70px 0 110px;
	}
	#participate .container p {
		font-size: 14px;
	}	
	#participate .container h2 {
		font-size: 30px;
	}	
	footer .social li a i {
		font-size: 22px;
	}
	footer .social li:first-child a i {
		padding: 10px 14px;
	}
	
	footer .social li a i {
		padding: 10px 11px;
	}
	header {
		height: 97px;
	}
	body {
	  background-position: top right;
	  background-size: contain;
	}
	.nav-menu li a {
	  font-size: 16px;
	}
	#spotlight .main-text h1 {
	  font-size: 30px;
	  margin-bottom: 20px;
	  line-height: 45px;
	}
	#spotlight .main-text p {
	  font-size: 16px;
	  width: 100%;
	}
	#spotlight .main-image {
	  margin-bottom: 0;
	}
	#about {
	  padding: 20px 0 0 0;
	  background-position: 108% center;
	}
	#about .content h1 {
	  font-size: 26px;
	  margin-bottom: 10px;
	}
	#about .content p {
	  font-size: 16px;
	  width: 100%;
	}
	#about .image img {
	  max-width: 300px;
	}
	#app {
	  padding-top: 50px;
	}
	#app .content h1 {
	  font-size: 26px;
	  margin-bottom: 20px;
	}
	#app .content p {
	  font-size: 16px;
	  width: 100%;
	}
	#app .image img {
	  max-width: 50%;
	}
	footer .bg-img {
	  background-position: right 0 top 20%;
	}
	footer .item li .icon {
	  margin-bottom: 16px;
	}
	footer .social li a i {
	  font-size: 24px;
	  display: block;
	}
	footer .item li p {
	  font-size: 12px;
	}
	footer .copy {
	  font-size: 12px;
	  line-height: 1.7em;
	}
	footer .copy a {
	  font-size: 12px;
	}
  }
  
  @media all and (max-width: 360px) {
	body {
	  background-position: top right;
	  background-size: contain;
	}
	#spotlight .main-text h1 {
	  font-size: 26px;
	}
	#spotlight .main-image img {
	  width: 90%;
	}
	#spotlight .main-text {
	  margin-top: 10px;
	}
	#spotlight .main-text p {
	  font-size: 14px;
	  padding: 0;
	}
	#spotlight .main-image {
	  margin-bottom: 0;
	}
	#about .content h1 {
	  font-size: 20px;
	}
	#about .content p {
	  font-size: 14px;
	}
	#about .image img {
	  max-width: 200px;
	  transform: scale(1.1);
	}
	#app {
	  background-position: center left;
	}
	#app .content h1 {
	  font-size: 20px;
	}
	#app .content p {
	  font-size: 14px;
	}
	footer .bg-img {
	  background-position: right 0 top 30%;
	}
	footer .item {
	  padding-bottom: 50px;
	}
	footer .social {
	  padding: 20px 0;
	}
	footer .social li a i {
	  font-size:22px;
	}
	footer .item li p {
	  font-size: 12px;
	}
	footer .copy {
	  font-size: 10px;
	}
	footer .copy a {
	  font-size: 10px;
	}
  }
  
  @media all and (max-width: 320px) {
	body {
	  background-position: top right;
	  background-size: contain;
	}
	.logo img {
	  width: 50%;
	}
	.nav-menu li a {
	  font-size: 14px;
	}
	h1 {
	  font-size: 24px;
	}
	#spotlight .main-text p {
	  font-size: 12px;
	}
	#about .content h1 {
	  font-size: 18px;
	}
	#about .content p {
	  font-size: 12px;
	}
	#about .image img {
	  width: 280px;
	}
	#app {
	  background-position: -135px -100%;
	}
	#app .image img {
	  width: 280px;
	}
	#app .content h1 {
	  font-size: 18px;
	}
	#app .content p {
	  font-size: 12px;
	}
	#app .button li img {
	  max-width: 100px;
	}
	footer .bg-img {
	  background-position: right 0 top 40%;
	}
	footer .item li a i {
	  padding: 16px;
	}
	footer .item li .icon {
	  width: 18px;
	  width: 16px;
	  height: 18px;
	}
	footer .item li p {
	  font-size: 10px;
	}
	footer .copy {
	  font-size: 8px;
	}
  }